
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: unset;
}
nav {
    height: 50px;
    border: solid black;
    border-width: 1px;
    background-color: lightgray;
    
}

.inline-block {
    display: inline-block;
    padding: 14px;
    width: 122px;
    height: 22px;
    text-align: center;
    color: white;
    background-color: rgb(105, 105, 105);
    border-right: solid white;
    border-width: 0 1px 0 1px;
    margin-right: -4px;
}



.top_left {
    display: inline-block;
    border-bottom: solid black 1px;
    width: 100%;
    padding-top: 25px;
    text-align: center;
    font-weight: bold; 
}

.left {
    float: left;
    border: solid black 1px;
    border-top: transparent;
    width: 29%;
}
.pet_stats {
    padding-left: 10%;
    padding-bottom: 75%;
}

.right {
    width: 70%;
    float: right;
    border-right: solid black 1px;
}

.img_left {
    float: left;
    padding-right: 15px;

}

.main_content {
    float: left;
    padding: 5%;
    padding-bottom: 0;
}

.gallery {
    float: left;
    padding: 6%;
}

.card{
    display: inline-block;
    padding: 7px;
    vertical-align: top;
}





